// 这里代表是内填充,如果是添加20rpx,则是向内扩展,并不会把一个挤出去
view,swiper,swiper-item{
	box-sizing: border-box;
}

// 背景色
.pageBg{
	background: 
	linear-gradient(to bottom,transparent,#fff 400rpx), // 上到下，透明色到白色，白色从400rpx开始
	linear-gradient(to right,#beecd8 20%,#F4E2D8); //左到有
	min-height: 80vh;
}

// loading的布局
.loadingLayout{
	padding:30rpx 0;
}

// 安全区域的高度
.safe-area-inset-bottom{
	height: env(safe-area-inset-bottom);
}



