// 这里代表是内填充,如果是添加20rpx,则是向内扩展,并不会把一个挤出去
view,swiper,swiper-item{
	box-sizing: border-box;
}

// 背景色
.pageBg{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(203,203,255,1) 0%, rgba(65,217,237,1) 97%);
	min-height: 100vh;
}


// loading的布局,这里是对加载时候的显示
.loadingLayout{
	padding:30rpx 0;
}

// 安全区域的高度,这里是小程序端防止home键的遮住了 -- 没有更多了
.safe-area-inset-bottom{
	height: env(safe-area-inset-bottom);
}



